/* The navigation bar :
To create a fixed top menu, use position:fixed and top:0. Note that the fixed menu will overlay your other content. 
To fix this, add a margin-top (to the content) that is equal or larger than the height of your menu.
*/

body {
	margin:0;
    background-color: lightblue;
}

h1{
	letter-spacing: 3px;
	text-align: center; 
	font-size: 32px;
	text-transform: Uppercase;
	font-style:  full-width; 
}
div {
	
}
div-html {
	margin-right: 5px;
	width: 200px;
	height: 200px;
	border: 10px solid #4593FE;
	float: left;
}

p {
    font-family: verdana;
    font-size: 20px;
}

ul {
    list-style-type: none;
    list-style-position:outside;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

/* Main content */
.main {
	padding: 16px;
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.one {
	background: #0FA5A0;
}
.two {
	background: #7376A1;
}
.three {
	background: #2B3648;
}

.yellow-text {
	color: #E0F371;
}
.white-text {
	color: #F7FFFB;
}

